<div class="container-fluid">
  <nav>
    <div class="nav navbar-nav">
      {{#link-to 'index'}}
      <h1 class="brand">InstaCritic</h1>
      {{/link-to}}
    </div>
    <div class="">
      {{#link-to 'reviews'}}
        Reviews
      {{/link-to}}
      {{#link-to 'shows'}}
        TV Shows
      {{/link-to}}
      {{#link-to 'about'}}
      About
      {{/link-to}}

    </div>
  </nav>
</div>
